* {
  box-sizing: border-box;
}
html{
  background-color: #016295;
  margin: 0;
    padding: 0;
}
body { 
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

h1 {
  font-size: 200%;
    height: 50px;
    padding: 0;
    text-align: center;
    color: whitesmoke;
}

p {
  width: 90%;
  height: 200px auto;
  margin-right: 15px;
  margin-left: 30px;
  border: 1px solid black;
  color: #024669;
  font-size: 125%;
  float: left;
  padding: 15px;
  background-color: #AFD776;

}


#chicken{

  font-size: 125%;
  background-color: #80C31C;
  border: 1px solid black;
  color: #024669;
  padding: 1% 2% 1% 2%;
  margin-bottom: -20%;
  margin-right: 3%;
  position: relative;
  float: right;
  width: auto;
}

#beef{

  font-size: 125%; 
  background-color: #80C31C;
  border: 1px solid black;
  color: #024669;
  padding: 1% 2% 1% 2%;
  margin-bottom: -20%;
  margin-right: 3%;
  position: relative;
  float: right;
  width: auto;
 
}

#sushi{
 
 font-size: 125%;
  background-color: #80C31C;
  border: 1px solid black;
  color: #024669;
  padding: 1% 2% 1% 2%;
  margin-bottom: -20%;
  margin-right: 3%;
  position: relative;
  float: right;
  width: auto;
}




/********** Large devices only **********/
@media screen and (min-width: 992px) {
  .col-lg-4{
    float: left;
    }
  
  .col-lg-4 {
    width: 33.33%;
  }
  #col3{
    width: 90%;
  }
  #chicken{
   margin-top: 20px;
    margin-right: 16px;
  }
  #sushi{
    margin-top: 20px;
    margin-right: 16px;
  }
  #beef{
    margin-top: 20px;
    margin-right: 16px;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    }

  .col-md-6 {
    width: 50%;
  }
  #col3{
    width: 95%;
  }
  #chicken{
   margin-top: 20px;
    margin-right: 16px;
  }
  #sushi{
    margin-top: 20px;
    margin-right: 16px;
  }
  #beef{
    margin-top: 20px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 767px) {
  .col-sl-12 {
    float: left;
    }
  .col-sl-12 {
    width: 100%;
  }
  #chicken{
   margin-top: 20px;
    margin-right: 17px;
  }
  #sushi{
    margin-top: 20px;
    margin-right: 17px;
  }
  #beef{
    margin-top: 20px;
    margin-right: 17px;
  }
}